.DS_Store
arc-solving/ARC-master
assembly/data/new_representations/*
*.pyc
__pycache__
*.sublime-project
*.sublime-workspace
*.DS_Store
._*
bidir-synth/ec/evolution
bidir-synth/ec/helmholtz
bidir-synth/ec/logoDrawString
bidir-synth/ec/protonet-tester
bidir-synth/ec/solver
bidir-synth/ec/solvers/.merlin
bidir-synth/ec/versionDemo
bidir-synth/ec/experimentOutputs
.vagrant
.vscode

# coverage related
htmlcov
.coverage

mlruns
