[submodule "bidir-synth/Deep-Reinforcement-Learning-Algorithms-with-PyTorch"]
	path = bidir-synth/Deep-Reinforcement-Learning-Algorithms-with-PyTorch
	url = https://github.com/p-christ/Deep-Reinforcement-Learning-Algorithms-with-PyTorch
