.DS_Store
arc-solving/ARC-master
assembly/data/new_representations/*
*.pyc
__pycache__
*.sublime-project
*.sublime-workspace
*.DS_Store
._*
ec/evolution
ec/helmholtz
ec/logoDrawString
ec/protonet-tester
ec/solver
ec/solvers/.merlin
ec/versionDemo
